@mixin main-container{
    width: 50%;
    border-radius: 10px;
    background-color: #Fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 40px;
    position: relative;
    top: -70px;
}
@mixin btn-primary{
    background-color: $moderate-cyan;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 47px;
    transition: all .5s;
}
@mixin btn-primary-hover{
    background-color: $dark-cyan;
    
    cursor: pointer;
}
@mixin small-text{
    color: $dark-gray;
    font-size: 16px;
    font-weight: 400;
}
@mixin projects{
    border: 1px solid $line-gray;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-areas: "name pledge" "description description" "left select";
   
    align-items: center;
    gap: 20px;
    &__name{
        grid-area: name;
        font-weight: 700;
        font-size: 1.1rem;
    }
    &__pledge{
        grid-area: pledge;
        color: $moderate-cyan;
        font-weight: 500;
        justify-self: end;
    }
    &__description{
        grid-area: description;
    }
    &__left{
        grid-area: left;
        font-weight: 700;
        font-size: 1.7rem;
    }
    &__select{
        grid-area: select;
        justify-self: end;
    }
    &--unavailable{
        opacity: .5;
    }
}