$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$light-gray:#F4F4F4;
$line-gray:rgb(220, 220, 220);
$font-family: 'Commissioner', sans-serif;